services:
  # --- base de datos ---
  #db_precios:
   # image: postgres:15-alpine
   # container_name: db_precios_colegios
   # restart: always
   # environment:
   #   POSTGRES_USER: ${DB_USER}
   #   POSTGRES_PASSWORD: ${DB_PASSWORD}
    #  POSTGRES_DB: ${DB_NAME}
   # volumes:
   #   - ../postgres_data:/var/lib/postgresql/data 
   # networks:
   #   - web-proxy-network

  # --- n8n  ---
  #n8n_precios:
  #  image: n8nio/n8n:latest
  #  container_name: n8n_achahui_precios
  #  restart: always
     #depends_on:
      #- db_precios
  #  environment:
  #    - N8N_HOST=${N8N_DOMAIN}
  #    - N8N_PORT=5678
   #   - N8N_PROTOCOL=https
  #    - WEBHOOK_URL=https://${N8N_DOMAIN}/
  #    - DB_TYPE=postgresdb
   #   - DB_POSTGRESDB_DATABASE=${DB_NAME}
   #   - DB_POSTGRESDB_HOST=db_precios
   #   - DB_POSTGRESDB_USER=${DB_USER}
   #   - DB_POSTGRESDB_PASSWORD=${DB_PASSWORD}
   # volumes:
   #   - ../n8n_data:/home/node/.n8n 
   # networks:
   #   - web-proxy-network

  # --- App React (Frontend) ---
  frontend_precios:
  build: ./app
  container_name: app_mi_precio_26
  restart: always
  env_file:
    - ./app/.env
  networks:
    - web-proxy-network
    

  # --- Backend ---
  backend_precios:
    build: ./backend
    container_name: api_mi_precio_26
    restart: always
    #depends_on:
      #- db_precios
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@db_precios_colegios:5432/${DB_NAME}
    networks:
      - web-proxy-network

networks:
  web-proxy-network:
    external: true